In [ ]:
# Exercício 2
# Crie um algoritimo para calcular a média dos alunos abaixo. Utilize estrutura de repetição e tuplas.
# (Laura, 85, 90 88)
# (Paulo, 60 75 68)
# (Ana, 68, 80, 90)
# (Jose, 80, 90, 72)

In [ ]:
# Exercício 3
# Crie um programa para análise de despesas.
# Utilize estrutura de repetição e tuplas.
# viagens, 5000, 15000, 25000, 9800
# restaurantes, 230, 100, 50, 415
# transporte, 50, 15, 89, 115
# viagens, 5000, 15000, 25000, 9800

In [ ]:
# Exercício 4
# Crie um programa para catalogação de livros.
# Utilize estrutura de repetição e tuplas.
"""
livros = [
("O senhor dos Anéis", "J.R.R. Tolkien")
("O Hobbit", "J.R.R. Tolkien"),
("1984", "George Orwell")
]
"""